.loginbuttons {
    background-color:  rgb(9, 9, 9); /* Green */
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
    margin:auto;
    
  }

  .loginbuttons:hover {
    background-color: #fb0b0b8d;
    color: white;
    box-shadow: 0 5px 5px 0 rgb(82, 82, 82), 0 5px 5px 0 rgb(82, 82, 82);
    
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


.loginback{
    background-color: rgba(190, 245, 245, 0.629);
    height: 100vh;
    margin: auto;
}

.Signupbuttons {
    background-color: rgba(190, 245, 245, 0); /* Green */
    color: black;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
    margin:auto;
    
  }

  .Signupbuttons:hover {
    background-color: #292b29; /* Green */
    color: white;
    box-shadow: 0 5px 5px 0 rgb(82, 82, 82), 0 5px 5px 0 rgb(82, 82, 82);
    
  }
