.container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll;
    overflow: auto;
    scroll-behavior: smooth; 
    text-align: left;
    width: 100%;
    border: black;
    
  }
.textbox-center{
    width: 100vh;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: black;
  }

  .x{
    width: 100%;
    align-items: right;
  }
  .sendbuttons {
    background-color:  rgb(164, 165, 165); /* Green */
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    margin:auto;
    
  }

  .sendbuttons:hover {
    background-color: #292b29; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
    
  }
